[[source]]
url = "https://pypi.org/simple/"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
bnmutils = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
Pygments = "*"
codecov = "*"

[requires]
python_version = "3.6"
